In [9]:
import csv
import json
import numpy as np
import pandas as pd
import country_converter as coco

In [6]:
fp = "/Users/romain/GitHub/edges/dev/geopolrisk_cfs.xlsx"

In [7]:
# Load the data into a DataFrame
df = pd.read_excel(fp, sheet_name="long table")

In [8]:
df

,Material,Country,Value,Dataset name,Dataset reference product,operator
0,Aluminium,Afghanistan,0.322992,"aluminium production, primary","aluminium, primary",startswith
1,Baryte,Afghanistan,0.123092,barite production,barite,startswith
2,Chromium,Afghanistan,0.000069,chromium production,chromium,startswith
3,Coal,Afghanistan,0.112219,hard coal,hard coal,startswith
4,Crude oil,Afghanistan,0.049085,petroleum and gas production,petroleum,startswith
...,...,...,...,...,...,...
5332,Tin,Zimbabwe,0.101446,tin production,tin,startswith
5333,Titanium,Zimbabwe,0.082589,titanium production,titanium,startswith
5334,Tungsten,Zimbabwe,0.014046,tungsten mine operation and beneficiation,tungsten concentrate,startswith
5335,Zinc,Zimbabwe,0.076558,primary zinc production from concentrate,zinc,startswith
5336,Zirconium,Zimbabwe,0.104943,zirconium,zirconium,startswith

In [18]:
country_map = {
    c: coco.convert(c, to="iso2") for c in df["Country"].unique()
}
country_map = {k: v for k, v in country_map.items() if v != "not found"}

Other Asia, nes not found in regex
Cura√ßao not found in regex

In [22]:
data = []
# iterate through rows with iterrows()
for index, row in df.iterrows():
    # proceed only if all values are not NaN
    if not pd.isna(row["Dataset name"]) and not pd.isna(row["Dataset reference product"]) and not pd.isna(row["operator"]) and not pd.isna(row["Country"]) and not pd.isna(row["Value"]):
        if row["Country"] in country_map:
            data.append(
                {
                    "supplier": {
                        "name": row["Dataset name"],
                        "reference product": row["Dataset reference product"],
                        "operator": row["operator"],
                        "matrix": "technosphere"
                    },
                    "consumer": {
                        "location": country_map[row["Country"]],
                    },
                    "value": row["Value"],
                }
            )

In [24]:
len(data)

5026

In [23]:
fp_out = "/Users/romain/GitHub/edges/edges/data/GeoPolRisk_2024.json" 
with open(fp_out, "w") as f:
    json.dump(data, f, indent=2)